<div>
        <h3>フォロワー (<%= @relationship %>)</h3>
        <% if @relationship.nil? %>
        <% else %>
            <ol class="follow">
              <% @follower.each do |fw| %>
                  <li id="following-<%= fw.id %>">
                      <span class="name"><%= fw.name %></span>
                  </li>
              <% end %>
          </ol>
        <% end %>

</div>